@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body{
    background-color: black;
    color: #09c713;
    font-family: "Abel";
    font-weight: 400;
}

.cabeçalho {
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 24px 0;
}


.rodapé{
    background-color:#1a1a1a ;
    text-align: center;
}

.diferenças{
    background-color:
}

