@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #09c713;
    font-family: "Abel";
    font-weight: 400;
}

.cabeçalho {
    display: flex;
    background-color: #1a1a1a; 
    justify-content: space-around;
    padding: 24px 0;
    font-family: "Jacquard 12";
    width: 100%;
    box-sizing: border-box;
}

    .rodapé {
    background-color: #1a1a1a;
    font-family: "Jacquard 12";
    text-align: center;
    padding: 10px 0;
    margin: 0;
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
}

.imagem {
    text-align: center;
}

.container {
    text-align: center;
}

.retorno {
    color: #09c713;
    font-family: "Kanit";
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    body {
        padding: 0 0;
        font-family: "Kanit";
        font-weight: 600;
    }

    .cabeçalho {
        display: flex;
        background-color: #1a1a1a; 
        justify-content: space-around;
        padding: 24px 0;
        font-family: "Jacquard 12";
        width: 100%;
        box-sizing: border-box;
    }

    .fronteback h2, .fronteback p {
        font-size: 1.1em;
    }

    .rodapé {
        width: calc(100% + 20px);
        left: -10px;
        font-family: "Jacquard 12";
    }
}
